.left-panel,
.right-panel {
  width: 50%;
  padding: 10px;
  /* box-sizing: border-box; */
}

.left-panel {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.right-panel {
  padding-right: 10px;
  margin-right: 5px;
}

.section {
  background-color: #FFFDF8;
  height: 487px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 1px lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title-box {
  margin-left: 5px;
  align-items: center;
  font-size: 23px;
  border-radius: 10px;
  display: flex;
  font-weight: 600;
}

.section-title {
  cursor: pointer;
  margin-left: 5px;
  display: flex;
}

.section-controls {
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 10px;

}

.selectJob {
  border: none;
  width: auto;
  box-shadow: 0 1px 3px 0 lightgray inset;
  border-radius: 10px;
  background-color: #FBF9F2;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-weight: bold;
  color: #427889;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  height: 40px;
}

.selectbox-font {
  font-size: 18px;
}

::placeholder {
  color: gray;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.adminList {
  font-family: "Pretendard-Regular";
  border-top: 1px solid lightgrey;
  cursor: pointer;
}

.adminList:hover {
  background-color: gainsboro;
}

.jobSelector {
  margin-left: 50px;
  display: flex;
  align-items: center;
  /* 세로 정렬 설정 */

}

.admNoticeSearchbar {
  position: relative;
  background-color: white;
  float: right;
  width: 450px;
  height: 40px;
  box-shadow: 1px 1px 2px 0 lightgray;
  border-radius: 20px;
  color: #233FA3;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 7px;
}

.admSearchbar {
  position: relative;
  background-color: white;
  float: right;
  width: 450px;
  height: 40px;
  box-shadow: 1px 1px 2px 0 lightgray;
  border-radius: 20px;
  color: #233FA3;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 7px;
}

#keyword {
  border: none;
  width: 310px;
  font-size: 15px;

}

#admKeywordSort {
  margin-top: 9px;
  color: #233FA3;
  font-weight: bold;
  font-size: 15px;
  margin-left: 25px;
  padding: 0px 10px 0px 5px;
  border: none;
  width: auto;
  margin-right: 15px;
  appearance: none;

}



#searchButton2 {
  top: -3px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  background-image: url('/public/img/adsearch.png');
  /* cursor: pointer; */
  float: right;
  cursor: pointer;
}

#addButton1 {
  border-radius: 50%;
  display: none;
}

#addButton2 {
  margin-left: 70px;
  margin-top: 40px;
  float: left;
  background-color: transparent;
  border: none;
  width: 155px;
  height: 155px;
  background-image: url('/public/img/profile.png');
  cursor: pointer;
}

.addedFileButton {
  margin-left: 70px;
  margin-top: 40px;
  float: left;
  /* background-color: transparent; */
  border: none;
  width: 155px;
  height: 155px;
  cursor: pointer;
  border-radius: 50%;
}

.addedFile {
  border-radius: 50%;
  float: left;
  margin-left: -6px;
  margin-top: -1px;
  width: 155px;
  height: 155px;
}

.adminBackground {
  min-width: 100%;
  display: flex;
  height: auto;
  width: 1750px;
  position: absolute;
  top: 80px;
  left: -198px;


}

.emp-right label {
  display: flex;
}

.emp-right {

  text-align: center;


}

.emp-right-unit {
  display: flex;
  align-items: center;
  /* 세로 중앙 정렬 */
  height: 60px;
  width: 605px;
  margin-bottom: 10px;
}

.row-title {
  flex: 3;
  /* float: left; */
  margin-right: 10px;
  /* 여백 추가 */
  text-align: left;
  float: left;
  margin-left: 80px;
  /* float: left; */
  /* line-height: 35px; 텍스트 세로 중앙 정렬 */
}

.emp-right-unit input,
.emp-right-unit select {
  flex: 7;
  /* margin-left: 20px; */
  /* margin-left: 50px;  */
  margin-right: 57px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 2px 5px 1px lightgray;
  width: 360px;
  height: 40px;
  padding-left: 12px;
}

#searchButton1 {
  display: none;
}


#searchButton2 {
  position: relative;
  margin-top: 9px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  background-image: url('/public/img/adsearch.png');
  float: right;
}

.accordion-section {
  box-shadow: 0 1px 5px 1px lightgray;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  background-color: #FFFDF8;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.accordion-header {
  font-family: 'TheJamsil5Bold';
  font-size: 23px;
  height: 60px;
  background: #FFFDF8;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

accordion-header-title {
  font-family: Pretendard-Regular;

}

.accordion-section.active .accordion-header {
  border-bottom: none;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-content.active {
  display: block;
}

.accordion-group {
  display: flexbox;
  text-align: center;
}

.input-group {
  margin-right: 45px;
  padding-top: 6px;
  background-color: white;
  position: relative;
  float: right;
  width: 740px;
  height: 40px;
  box-shadow: 1px 1px 2px 0 lightgray;
  border-radius: 20px;
  color: #233FA3;
  font-weight: bold;
}


.emp-inputbox {

  margin-right: 50px;
}


.adm-notice-select {
font-family: 'Pretendard-Regular';
color: #233FA3;
font-weight: bold;
font-size: 15px;
margin-left: 25px;
border: none;
width: auto;
margin-bottom: 3px;
appearance: none;
}

.notice-input {
  border-left: 1px solid #233FA3;
  padding-bottom: 4px;
  outline: none;
  padding-left: 15px;
  border: none;
  width: 630px;
  font-size: 15px;
}

.add-button {
  background-color: #427889;
  margin-right: 55px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px 20px;
}

.emp-add-button {
  margin-right: 55px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px 20px;
}

.del-button {
  background-color: lightgray;
  margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px 20px;
}

.button {
  height: 25px;
  width: 50px;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.button-container {
  float: right;
}

.emp-left {
  float: left;
}

.emp-right {
  float: right;
}

.write-img {
  margin-left: 20px;
  margin-right: 10px;
  /* margin-bottom: 5px; */
}

.notice-img {
  /* margin-left: 20px; */
  margin-right: 10px;
}

.employee-img {
  /* margin-left: 20px; */
  margin-right: 10px;
}

.confirm-dialog {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFDF8;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  text-align: center;
}

.confirm-dialog p {
  margin: 0 0 20px;
  font-size: 16px;
  color: #333;
}

/* .confirm-dialog button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
} */

.confirm-button {
  background-color: lightgray;
  color: #fff;
}

.cancel-button {
  background-color: #5bc0de;
  color: #fff;
}