/* ---- 공통 ---- */
html, body, #root {
  position: relative;
  height:auto;
  margin: 0;
  background-color: #FBF9F2;
}
.background{
  width:1640px;
  margin-left:220px;
  padding-left:25px;
  padding-right: 30px;
  padding-bottom:33px;
}

#Lbox{
  position: absolute;
  background-color: #FBF9F2;
  margin-left: 30px;
  margin-top:30px;
  width: 1500px;
  height: 960px;
  border-radius: 10px;
  box-shadow: 2px 1px 3px 1px lightgray;
  padding: 30px;
}


/* 폰트 종류
@font-face {
  
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  
  font-family: 'TheJamsil54Medium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} */


/* ---- 사이드바 ---- */

/* 사이드바-뒷배경 */
.sideBar{
  position:absolute;
  min-height: 150vh;
  width:250px;
  background-color: #FFFDF8;
  box-shadow: 2px 1px 5px 0 lightgray;
}

/* 사이드바-구분선 */
.line{
  margin: 0 auto;
  margin-top: 5px;
  width:150px;
  
  background-color:lightgray;
  height:1px;
}



#boxIcon{
  width:25px;
  height: 20px;
  margin-top:15px;
  margin-left:15px;
}


/* 사이드바-프로필 */
.sideProfile{
  position: relative;
}

#profileImg{
  display: flex;
 margin: 0 auto;
 width: 80px;
}

#profileText{
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

/* 조직도 */
#Lbox{
  position: absolute;
  margin:0 auto;
  background-color: #FBF9F2;
  margin-left: 30px;
  margin-top:30px;
  width: 1550px;
  height: 960px;
  border-radius: 10px;
  box-shadow: 2px 1px 3px 1px lightgray;
}

#LboxHeader{
  display:inline-block;
  font-family: 'TheJamsil54Medium';
  margin-left:10px;
  font-size: 20px;
}

.jang{
  width:120px;
  height:55px;
  background-color: #22668D;
  font-size:20px;
  color:white;
  text-align:center;
  margin:0 auto;
}

#jang, #dep{
  display:inline;
  position: relative;
  top: 15px;
  font-family: 'Pretendard-Regular';
  font-weight:bold;
}

#line1{
  margin: 0 auto;
  width: 2px;
  height:20px;
  background-color: #A9A9A9;
}

#line2{
  margin: 0 auto;
  width:848px;
  height:1px;
  background-color: #A9A9A9;
}
.liner{
  display:flex;
}
#line4{
  margin-left:351px;
  width:2px;
  height:50px;
  background-color: #A9A9A9;
}
#line3{
  margin-left:280px;
  width:2px;
  height:50px;
  background-color: #A9A9A9;
}
.department{
  margin: 0 auto;
  display:flex;
}
.dept:first-child{
margin-left:260px;
}
.dept{
  width:180px;
  height:65px;
  background-color: #22668D;
  font-size:25px;
  color:white;
  text-align:center;
  margin-left: 100px;
}

.depts{
  border: 1px solid gray;
  width:180px;
  height:65px;
  background-color: white;
  font-size:25px;
  color:#22668D;
  text-align:center;
  margin-left: 100px;
}

.doctor{
  display:inline-block;
  margin-left:160px;
}
.nurse{
  position: absolute;
  display:inline-block;
}
.technician{
  position: absolute;
  display:inline-block;
  margin-left:280px;
}

.task{
  position: absolute;
  margin-left:560px;
  display:inline-block;
}
