.current-date {
  position: relative;
}
  
  .current-date::before {
    content: attr(data-date);
    position: absolute;
    top: 13px; /* 부모 요소의 상단으로부터의 거리 설정 */
    left: 66px;
    width: 24px; /* 원 지름 설정 */
    height: 24px; /* 원 지름 설정 */
    background-color: red; /* 빨간색 배경 */
    border-radius: 50%; /* 원 모양 설정 */
    color: white; /* 숫자 색상 */
    font-size: 15px;
    font-weight: 500; /* 숫자 폰트 굵기 */
    text-align: center;
    padding-inline: 0.5px;
    padding-top: 1px;
    margin-top: -0.5px;
  }

  .userInfo{
    margin-left: -30px;
    margin-top: 10px;
    margin-bottom: -10px;
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #00648b;
  }
  
  .monthYear {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    color: #0f516b;
  }
  
  .day {
    font-size: 19px;
    font-weight: 500;
    text-align: right;
    padding: 11.5px;
    margin-bottom: -7px;
    width: 90px;
    height: 20px;  
    box-sizing: unset;
    }

    .day:nth-child(1) , .date:nth-child(1) .date-style {
      color: rgb(233, 34, 34); /* 일요일은 빨간색 */
    }
    
    .day:nth-child(3) , .date:nth-child(3) .date-style {
      color: rgb(0, 0, 0);
    }
  
  .date, .next-month, .prev-month {
    font-size: 18px;
    font-weight: 440;
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
    width: 90px;
    height: 70px;
    box-sizing: unset;
  }
  
  .prev-month, .next-month {
    background: #ebf3f6;
    color: #0081b429;  
  }


  .date-style {
    margin-right: -5px;
    margin-bottom: 4px;
  }
  
  .event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    border-radius: 3px;
    font-size: 13px;
    margin-top: 2px;
    margin-right: -5px;
    margin-left: -5px;
  }

  .holiday {
    /* 공휴일의 스타일 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    background-color: #e74c3c; /* 공휴일의 배경색 */
    border-radius: 3px;
    font-size: 13px;
    margin-top: 2px;
    margin-right: -5px;
    margin-left: -5px;
    color: #fff; /* 공휴일의 텍스트 색상 */
  }

  .calendarleft {
    margin-left: -100px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 42px;
    font-weight: bold;
    color: #0081b41e;
  }
  .calendarright {
    margin-left: 10px;
    cursor: pointer;
    font-size: 42px;
    font-weight: bold;
    color: #0081b41e;
  }

  .calendarleft:hover {
    cursor: pointer;
    font-size: 42px;
    font-weight: bold;
    color: #0081b4;
  }
  .calendarright:hover{
    cursor: pointer;
    font-size: 42px;
    font-weight: bold;
    color: #0081b4;
  }

  .calendar-button {
    background-color: #0081B4;
    color: #ffffff;
    /* color: #c7dfe9; */
    padding-inline: 10px;
    margin-inline: 5px;
    box-shadow: 2px 1px 5px 0 lightgray;
  }

  .fullbooked{
    background-color: #fffed3;
    color: #747474;
}