/* .calendar-popup {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background: white;
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
  } */
  
  /* .calendar-popup table {
    width: 100%;
    border-collapse: collapse;
  } */
  
  /* .calendar-popup th, .calendar-popup td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  } */
  .current-date {
    position: relative;
  }
  
  .current-date::before {
    content: attr(data-date);
    position: absolute;
    width: 22px; /* 원 지름 설정 */
    height: 22px; /* 원 지름 설정 */
    background-color: red; /* 빨간색 배경 */
    border-radius: 50%; /* 원 모양 설정 */
    color: white; /* 숫자 색상 */
    font-weight: 500; /* 숫자 폰트 굵기 */
    text-align: center;
    padding-top: 1px;
    margin-top: -1px;
  }

  .events-list {
    margin-top: 20px;
  }

  .events-preview {
    font-size: 13px;
  }
  
  .monthYear {
    width: 90%; /* 전체 폭을 차지하게 함 */
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .day {
    text-align: right;
    padding: 10px;
    margin-bottom: -10px;
    width: 70px;
    height: 20px;  
    }
  
  .date, .next-month, .prev-month {
    font-weight: 400;
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
    width: 70px;
    height: 50px;
  }
  
  .prev-month, .next-month {
    background: #f9f9f9;
    color: #ddd;  }