.diagBoxHeader {
    display:flex;
    top: 0;
    background-color: #FFFDF8;
    padding: 5px;
    cursor: pointer;
}

/* 대기환자목록 박스 스타일 */
#sboxLeft{
    position: absolute;
    background-color: #FFFDF8;
    margin-left: 20px;
    margin-top: 20px;
    width: 910px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 1px lightgray;
    max-width: 100%;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
}

/* 환자예약정보 박스 스타일 */
#sboxRight{
    float: right;
    background-color: #FFFDF8;
    margin-right: -40px;
    margin-top: 20px;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 1px lightgray;
    padding: 5px;
  }

  /* 이전진료기록 박스 스타일 */
  #prevHistorybox{
    background-color: #FFFDF8;
    margin-left: 20px;
    margin-top: -50px;
    width: 1630px;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 1px lightgray;
    padding: 5px;
  }

  .list{
    font-size:15px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
 }

 .dueInfoRow {
    width: 690px;
    /* justify-content: center; */
    display: flex;
    margin-bottom: 10px;
 }

 .inputStyle {
    margin-left: 20px;
    margin-right: 60px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    background-color: #FFFEFB;
 }

 .inputStyle:focus {
    outline: none;
}

.sboxHeader {
    padding-top: 15px;
    font-family: 'TheJamsil54Medium';
    margin-left: 5px;
    font-size: 18px;
}

.boxContent {
    padding-left: 20px;
}


/* 버튼스타일 */
.buttonStyle {
    background-color: #427889;
    border: none;
    color: white;
    border-radius: 10px;
    height:25px;
    box-shadow: 0 1px 2px 0 lightgray;
    width:80px;
    font-family: 'Pretendard-Regular';
}



/* 공통 부분 조금 수정해보기...*/
#boxIcon {
    height: 30px;
    margin-left: 25px;
}