/* 헤더 배경 */
.header{
    background-color: #0081B4;
    width:1920px;
    height:60px;
  }
  
  /* 헤더 왼쪽 메뉴들 */
  .headerLMenu{
    display: flex;
    float: left;
    color: white;
    margin-left: 50px;
  }
  .headerMenu{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-inline: 40px;
  }
  
  /* 헤더 오른쪽 메뉴들 */
  .headerRMenu{
    display: flex;
    float: right;
    margin-top:20px;
  }
  
  /* 헤더 로고 */
  .headerLogo{
    padding: 10px;
    margin-left: 22px;
    float:left;
    width:210px;
  }
  
  /* 헤더 오른쪽 메뉴 내 아이콘들 */
  .headerIcon {
    width:25px;
    margin-right:10px;
  }
  
  .headerLogout{
    margin-right:20px;
  }