 
/* 헤더 배경 */
.header{
  background-color: #0081B4;
  margin:0 auto;
  width:100%;
  height:60px;

}

/* 헤더 왼쪽 메뉴들 */
.headerLMenu{
  margin-left:220px;
  position: absolute;
  font-family: 'Pretendard-Regular';
}

/* 헤더 오른쪽 메뉴들 */
.headerRMenu{
  display: flex;
  float: right;
  margin-top:20px;
  font-family: 'Pretendard-Regular';
}

/* 헤더 로고 */
.headerLogo{
  padding-left: 10px;
  padding-top: 2px;
  float:left;
  width:230px;
}

/* 헤더 오른쪽 메뉴 내 아이콘들 */
.headerIcon {
  width:21px;
  margin-right:25px;
}

.headerLogout{
  margin-right:30px;
  cursor: pointer;
}
#docMenu,#nurMenu,#admHMenu,#metMenu{
  display:none;
  position: relative;
  margin-left:50px;
  margin-top:15px;
  font-size: 20px;
}
/* --------------- */
#headerRightButton{
  border:none;
  margin-right:10px;
  width:30px;
  background-color: transparent;
}

#headerMenuName{
  color: white;
  text-decoration: none;
  display:inline;
  position: relative;
  top:10px;
}