.notice-box {
    margin-top: -620px;
    margin-left: 775px;
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: #FFFDF8;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 0 lightgray;
    box-sizing: unset;
}

.noti-input{
    padding: 5px;
    resize: none;
    margin-top: 10px;
    width: 300px;
    height: 240px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 0 lightgray;
}

.noti-button{
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding: 3px 12px;
  cursor: pointer;
  background-color: #0081B4;
  font-weight: bold;
  color: white;
  box-shadow: 0px 0px 3px 0 lightgray;
  border: 1px;
  border-radius: 7px;
  font-size: 12px;
}

.calendar-box {
    margin-top: -620px;
    margin-left: 1130px;
    position: absolute;
    width: 440px;
    height: 300px;
    padding: 20px;
    background-color: #FFFDF8;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 0 lightgray;
    box-sizing: unset;
}

.calendar-container {
    width: 100%;
    height: 280px;
    overflow:auto;
}

.minicurrent-date {
    position: relative;
  }

.minicurrent-date::before {
    content: attr(data-date);
    position: absolute;
    top: 3px; /* 부모 요소의 상단으로부터의 거리 설정 */
    left: 24px;
    width: 22px; /* 원 지름 설정 */
    height: 22px; /* 원 지름 설정 */
    background-color: red; /* 빨간색 배경 */
    border-radius: 50%; /* 원 모양 설정 */
    color: white; /* 숫자 색상 */
    font-size: 14px;
    font-weight: 500; /* 숫자 폰트 굵기 */
    text-align: center;
    padding-inline: 0.5px;
    padding-top: 1px;
    margin-top: -0.5px;
  }
  .miniweekDays{
    display: flex;
    padding-bottom: 10px;
  }

  .miniday {
    font-size: 14px;
    font-weight: 550;
    text-align: right;
    padding-right: 10px;
    margin-right: -6px;
    margin-bottom: -10px;
    width: 90px;
    height: 20px;  
    box-sizing: unset;
    }

    .miniday:nth-child(1) , .minidate:nth-child(1) .minidate-style {
      color: rgb(233, 34, 34); /* 일요일은 빨간색 */
    }

    .fullbooked{
        background-color: #fffdc9;
    }
    /* .minidate:nth-child(2), .minidate:nth-child(4), .minidate:nth-child(6) {
        background-color: #fffaeb; 
      }
      .minidate:nth-child(3), .minidate:nth-child(5) {
        background-color: #d8fbb338; 
      } */
    
    .miniday:nth-child(3) , .minidate:nth-child(3) .minidate-style {
      color: rgb(0, 0, 0);
    }

    .minidate, .mininext-month, .miniprev-month {
        padding-top: 3px;
        padding-right: 3px;
        font-size: 13px;
        font-weight: 440;
        text-align: right;
        border: 1px solid #ddd;
        width: 90px;
        overflow: hidden;
        height: 60px;
        box-sizing: unset;
      }
      
      .miniprev-month, .mininext-month {
        font-size: 10px;
        background: #ebf3f6;
        color: #0081b429;  
      }
    
      .minidate-style {
        margin-bottom: 3px;
      }
      .minievent {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        border-radius: 3px;
        font-size: 9px;
        float: right;
        margin-right: -1px;
      }
    
      .miniholiday {
        /* 공휴일의 스타일 */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        text-align: center;
        background-color: #e74c3c; /* 공휴일의 배경색 */
        border-radius: 3px;
        font-size: 9px;
        margin-right: 1px;
        margin-left: 3px;
        color: #fff; /* 공휴일의 텍스트 색상 */
      }
