.bottomBox2{
        margin-top:20px;
height:250px;
padding:20px;
width:1590px;
border-radius:10px;
        position: relative;
       float:left;
       background-color: white;  
       box-shadow: 0 2px 2px 0 lightgray;
}

.boxContent{
    display: inline;
}

#nurDiagContent{
    background-color: white;
    box-shadow: 1px 0 2px 0 lightgray inset;
    border:none;
    position: relative;
  margin: 0 auto;
    border-radius: 10px;
    width:1500px;
    height: 120px;
}