.leftBox{
    float: left;
    width: 640px;
}

.nurseInfo, docInfo{
display:flex;
}

.rightBox{
    background-color: white;
    width:900px;
    box-shadow: 0px 1px 2px 0 lightgray;
    height:610px;
    border-radius: 10px;
    float: right;
    padding: 10px;
    padding-left: 30px;
}

#admDailyWrite{
    width: 890px;
}
#docDailyContent{
    background-color: white;
    box-shadow: 1px 0 2px 0 lightgray inset;
    position: absolute;
    border:none;
    border-radius: 10px;
    width: 1595px;
    height: 120px;
}

#dailyContent{
    background-color: white;
    box-shadow: 1px 0 2px 0 lightgray inset;
    position: absolute;
    border:none;
    border-radius: 10px;
    width: 880px;
    height: 120px;
}
#docContent{
    background-color: white;
    box-shadow: 1px 0 2px 0 lightgray inset;
    position: absolute;
    border:none;
    border-radius: 10px;
    width: 1545px;
    height: 120px;
}


.patProfile{
    background-color:  white;
    width:640px;
    box-shadow: 0px 1px 2px 0 lightgray;
    height:350px;
    border-radius: 10px;
    float: left;
    padding: 10px;
}

.docOpinion{
    margin-top:10px;
    background-color:  white;
    width:640px;
    box-shadow: 0px 1px 2px 0 lightgray;
    height:230px;
    border-radius: 10px;
    float: left;
    padding: 10px;
}

.hidden{
    display:none;
}

.visible{
    display: block;
    margin-bottom: 100px;
    
}

#patName, #patBirth{
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px 0 lightgray inset;
    height: 20px;
}
.admInfo{
    display:flex;
    padding:20px;
    padding-left: 19px;
}

#patNum, #patContent, #patDis, #patMemo{
    width: 375px;
    border: none;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px 0 lightgray inset;
    height: 20px;
}
#docOpin{
    margin:15px;
    border:none;
    background-color: white;
    box-shadow: 1px 1px 2px 0 lightgray inset;
    height: 120px;
    border-radius: 10px;
    width:600px;
}

.dailyList{
    display: block;
    margin-left:5px;
    position: relative;
    height:190px;
}

.longBox{
    width:1610px;
    border-radius: 10px;
    box-shadow: 1px 0 2px 0 lightgray;
    height: 330px;
padding: 15px;
background-color: white;
}

.bottomBox{
    margin-top:20px;
    position: relative;
   float:left;
}
#writeSuccess{
    position: relative;
    margin-top:115px;
    float:right;
    margin-right:20px;
    color:black;
    background-color:#B9EDE7 ;
    width:50px;
    height:20px;
}

