/* App.css */
.OpenCalendar {
    text-align: center;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .weekDays, .dateRow {
    display: flex;
  }
  
  
  .date {
    overflow: visible;
    cursor: pointer;
  }
  
  .date:hover {
    background-color: #f1f1f1;
  }
  