/*다른 메뉴들*/
  /* 조직도 */
  #Lbox{
    margin-left:30px;
    margin-top:30px;
    background-color: #FBF9F2;
    width: 1550px;
    height: 960px;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 1px lightgray;
  }
  
  #LboxHeader{
    display:inline-block;
    font-family: 'TheJamsil54Medium';
    color:black;
    margin-left:30px;
    font-size: 25px;
  }
  
  .jang{
    width:180px;
    height:65px;
    background-color: #22668D;
    font-size:25px;
    color:white;
    text-align:center;
    margin:0 auto;
  }
  
  #jang, #dep{
    display:inline;
    position: relative;
    top: 15px;
    font-family: 'Pretendard-Regular';
    font-weight:bold;
  }
  
  #line1{
    margin: 0 auto;
    width: 2px;
    height:20px;
    background-color: #A9A9A9;
  }
  
  #line2{
    margin: 0 auto;
    width:848px;
    height:1px;
    background-color: #A9A9A9;
  }
  .liner{
    display:flex;
  }
  #line4{
    margin-left:321px;
    width:2px;
    height:50px;
    background-color: #A9A9A9;
  }
  #line3{
    margin-left:280px;
    width:2px;
    height:50px;
    background-color: #A9A9A9;
  }
  .department{
    margin: 0 auto;
    display:flex;
    
  }
  .dept:first-child{
  margin-left:230px;

  }
  .dept{
    width:180px;
    height:65px;
    background-color: #22668D;
    font-size:25px;
    color:white;
    text-align:center;
    margin-left: 100px;
    
  }
  
  .depts{
    border: 1px solid gray;
    width:180px;
    height:65px;
    background-color: white;
    font-size:25px;
    color:#22668D;
    text-align:center;
    margin-left: 70px;
    
  }
  .wow{
    position: absolute;
  }
  .doctor{
    display:inline-block;
    margin-left:160px;
  }
  .nurse{
    position: absolute;
    margin-left:30px;
    display:inline-block;
  }
  .technician{
    position: absolute;
    display:inline-block;
    margin-left:310px;
  }
  
  .task{
    position: absolute;
    margin-left:590px;
    display:inline-block;
  }