.side-notice {
    padding-inline: 20px;
    padding-bottom: 10px;
    width: 240px;
}


.side-notice ul {
    margin-top: 5px;
    list-style: none;
    padding: 0;
}

.side-notice li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px dotted #969696; /* 점선 스타일 */
}

.side-notice li:hover {
    background-color: #f0f0f0;
}

.sidemodal {
    right: auto;
    bottom: auto;
    position: fixed;
    top: 50%;
    left: 19%;
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.sidemodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
