
/* ---- 사이드바 ---- */

/* 사이드바-뒷배경 */
.sidebar{
    position:absolute;
    /* min-height: 150vh; */
    min-height:1000px;
    height: auto;
    width:250px;
    background-color: #FFFDF8;
    box-shadow: 2px 1px 5px 0 lightgray;
  }



  
  #memoButton{
    margin-left:150px;
    font-size: 13px;
    font-weight: bold;
    margin-top:5px;
  width: 45px;
  height:25px;
  background-color: #F7CE7E;
  border:none;
  border-radius:20px;
  }

  .sideMemo{
    position: relative;
    width: 245px;
    padding-inline: 20px;
  }
  
  
  .memo{
  width: 200px;
  height:80px;
  background-color: #FFFEFB;
  box-shadow: 0px 0px 4px 1px lightgray inset;
  border:none;
  border-radius:10px;
  position: relative;
  margin-top: 5px;
  }

  .title-box {
    float: left;
  }
  
  .mettitle {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    vertical-align:top;
    font-family: 'Arial';
  }
  
  .meticon {
    width: 25px;
    vertical-align: text-bottom;
  }