.todo-box {
    position: relative;
    width: 250px;
    padding-inline: 20px;
}
.todo-ul {
    list-style-type: none;
    margin-left: -10px;
    padding: 2px;
  }
  
.todo-li {
    width: 210px;
    margin-left: 5px;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    border-bottom: 1px dashed #969696;
}

.todo-li input[type="text"] {
    width: 170px;
    padding-right: 5px;
    font-size: 15px;
    vertical-align: bottom;
    text-align: right;
    background-color: transparent;
    border: none;
}
.top-input {
    width: 210px;
    margin-top: 10px;
    padding: 0 5px 2px 0px;
    font-size: 16px;
    border: none;
    text-align: right;
    border-bottom: 1px dashed #969696;
    background-color: transparent;
}

.todo-button {
    color: #6f6f6f;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    vertical-align: middle;
    background: none;
    border: none;
    cursor: pointer;
}
